.vscode/configurationCache.log
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.vscode/*.log
.vscode/targets.logbuild
misc
msrc_gui/.qmake.stash
msrc_gui/debug
msrc_gui/release
msrc_gui/moc_*
msrc_gui/qrc_*
msrc_gui/ui_*
msrc_gui/Makefile*
msrc_gui/msrc_gui.pro.*
msrc_gui/msrc_gui_plugin_import.cpp
build*
msrc_gui/*.o
msrc_gui/msrc_gui
