build
misc
msrc_gui/debug
msrc_gui/release
msrc_gui/*.user
msrc_gui/Makefile*
freertos/FreeRTOS-Kernel_tag
freertos/FreeRTOS-Kernel_tmpl
freertos/FreeRTOS-Kernel
.vscode/configurationCache.log
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.vscode/dryrun.log
.vscode/targets.log
msrc_gui/msrc_gui_plugin_import.cpp
msrc_gui/msrc_gui_plugin_import.o
msrc_gui/msrc_gui.pro.user.1228bee
msrc_gui/.qmake.stash
msrc_gui/moc_*
msrc_gui/qrc_*
msrc_gui/ui_*
msrc_gui/build*
build*
